<h1>Make ye a pirate and some ships eh!</h1>

<!-- Make the form to create a pirate and two ships below -->
  <form action='/pirates' method="POST">
    <label for="pirate[name]">Pirate Name:</label>
    <input type="text" name="pirate[name]">

    <label for="pirate[weight]">Pirate Weight:</label>
    <input type="text" name="pirate[weight]">

    <label for="pirate[height]">Pirate Height:</label>
    <input type="text" name="pirate[height]">

    <label id="ship_name_1" for="ships[][name]">  Ship 1 Name: </label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]">

    Ship Type:
    <input id="ship_type_1" type="text" name="pirate[ships][][type]">

    Ship Booty:
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">

    Ship 2 Name:
    <input id="ship_name_2" type="text" name="pirate[ships][][name]">

    Ship Type:
    <input id="ship_type_2" type="text" name="pirate[ships][][type]">

    Ship Booty:
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">

    <input type="submit" value="Submit">
  </form>
