<label><h1>Enter your information here</h1></label>
<form action="/pirates" method="post">
<label for ="pirate_name"> Pirate's Name: </label>
<input type="text" id="pirate_name" name="pirate[name]"></input>
<label for ="pirate_weight"> Pirate's Weight: </label>
<input type="text" id="pirate_weight" name="pirate[weight]"></input>
<label for ="pirate_height"> Pirate's Height: </label>
<input type="text" id="pirate_height" name="pirate[height]"></input>

<label for ="ship_name"> Ship's Name: </label>
<input id="ship_name_1" id="ship_name" type="text" name="pirate[ships][][name]"></input>
<label for ="ship_type"> Ship's Type: </label>
<input id="ship_type_1" id="ship_type" type="text" name="pirate[ships][][type]"></input>
<label for ="ship_booty"> Ship's Booty: </label>
<input id="ship_booty_1" id="ship_booty" type ="text" name="pirate[ships][][booty]"></input>

<label for ="ship_name"> Ship's Name: </label>
<input id="ship_name_2" id="ship_name" type="text" name="pirate[ships][][name]"></input>
<label for ="ship_type"> Ship's Type: </label>
<input id="ship_type_2" id="ship_type" type="text" name="pirate[ships][][type]"></input>
<label for ="ship_booty"> Ship's Booty: </label>
<input id="ship_booty_2" id="ship_booty" type ="text" name="pirate[ships][][booty]"></input>

 <input id="Submit" type="submit">
</form>