<h1>Make your form here</h1>

<form action="/" method="post">
  <h1>Pirates</h1>
  <input type="text" name="pirate[name]" value="name">
  <input type="text" name="pirate[weight]" value="name">
  <input type="text" name="pirate[height]" value="name">
  <input type="submit">
  <br>

  <h1>Ships</h1>

  <input type="text" name="pirate[ships][][name]" value="name">
  <input type="text" name="pirate[ships][][type]" value="name">
  <input type="text" name="pirate[ships][][booty]" value="name">

  <input type="submit" value="Submit">

</form>
