<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  Name: <input type="text" name="name" value=""><br>
  Weight: <input type="text" name="weight" value=""><br>
  Height: <input type="text" name="height" value=""><br>
  <br>
  Ship 1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" value=""><br>
  Ship 1 Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value=""><br>
  Ship 1 Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value=""><br>
  <br>
  Ship 2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" value=""><br>
  Ship 2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value=""><br>
  Ship 2 Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value=""><br>
  <br>
  <input type="submit" name="" value="submit">
</form>
