<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate Factory</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Pirate Factory</h1>
      <%= yield %>
    </div>
  </body>
</html>